<%- include("header") -%>

<h2>This is about page</h2>
<p>
  Is iPhone 14 out? The iPhone 14 was made available on September 16, 2022, and
  iPhone 14 Plus was made available on October 7, 2022, priced at $799 and $899
  respectively and was launched with iOS 16. Pre-orders for the iPhone 14 and
  iPhone 14 Plus began on September 9, 2022. Apple Inc. Big and bigger.
</p>

<%- include("footer") -%>
